/*
	***************
	GENERAL STYLING
	***************
*/

body {
  margin: 0 0 30px !important;
}

*:hover {
  transition: .1s all ease-in-out;
}

/* LINKS */
a {
  color: #505252;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: none;
}