/* HELPER CLASSES */
.cleafix {
  overflow: auto;
  zoom: 1;
}

.hover-all {
	position: absolute;
	display: block;
	height: 100%;
	top: 0;
	left: 0;
}

.separator {
	border-bottom: 1px solid;
	margin: 0 0 30px; 
}