/* 	
	******************
	IFRAME CSS STYLING
	******************
*/
@import 'base.css'; 
@import 'type.css';
@import 'grid.css';
@import 'colors.css';
@import 'lists.css';
@import 'misc.css';

/* CUSTOM CSS */
.image-container {
	overflow: hidden;
	position: relative;
}

.image-container img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

.product-description {
	padding: 1em;
	background-color: rgba(0,0,0,.8);
	color: white;
}

.product-description p {
	margin-top: 10%;
}

.product-title {
	margin-top: .2em;	
}

.card {
	overflow: hidden;
}