body, html {
  padding: 0;
  margin: 0;
}

body > header {
  padding: 0 30px 30px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.container {
  width: 100%;
  min-width: 1024px;
}

.container > .main {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 63%;
  float: left;
}

.container > .sidebar {
  width: 37%;
  float: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 36px;
  padding-top: 30px;
}

.main footer {
  margin-top: 30px;
}

.sidebar > .wrapper {
  max-width: 444px;
  margin: 0 auto;
  padding-left: 20px;
  width: 100%;
}