<div>
	<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="600px" height="300px" viewBox="0 0 600 300" enable-background="new 0 0 600 300" xml:space="preserve" preserveAspectRatio="none">
		<line fill="none" stroke="#777" stroke-miterlimit="10" x1="600" y1="0" x2="0" y2="300"/>
		<g>
			<path fill="#777" d="M599,1v298H1V1H599 M600,0H0v300h600V0L600,0z"/>
		</g>
	</svg>
</div>
